body{
  margin: 0%;
  background-color:
  }


.img-fluid{
  width: 100%;
position: absolute;
padding-left: 0%:

}

.heading{
  height: 50%;
  text-align: center;
position: relative;
padding-top: 15%;
padding-bottom: 29.5%;
font-family: 'Yatra One', cursive;
color: white;
}
.heading:hover{
  color: #a9a9a9;
}

.img-fluid-1{
  width: 100%;
  position: absolute;
}

.heading-2{
  height: 50%;
  text-align: center;

  position: relative;
  padding-top: 11%;
  padding-bottom: 15%;
  font-family: 'Yatra One', cursive;

}



.container-fluid {
  padding: 5% 15%;
}

#testimonials {
  text-align: center;
  background-color: #000000;
  color: #fff;
}

.carousel-item {}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  padding-top: 10%;
  font-family: 'Yatra One', cursive;
}

.testimonial-img-1 {
padding-top: 5%;
height:800px;
 width: 100%;
  /* border-radius: 100%; */
  margin: 30px;
}

.testimonial-img-2 {
padding-top: 5%;
height: 800px;
 width: 100%;
  /* border-radius: 100%; */
  margin: 30px;
}

.testimonial-img-3{
padding-top: 5%;
height: 800px;
 width: 100%;
  /* border-radius: 100%; */
  margin: 30px;
}

.img-fluid-3{
  height: 100%;
}

.contact-us{
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  background-color: #000000;
color: white;
}
