body{
  margin: 0%;
  background-color:
  }

.icon{
  
}
.img-fluid-2{
  width: 100%;
position: absolute;
padding-left: 0%:

}

.heading{
  height: 50%;
  text-align: center;
position: relative;
padding-top: 15%;
padding-bottom: 29.5%;
font-family: 'Yatra One', cursive;
color: white;
}
.heading:hover{
  color: #a9a9a9;
}

.img-fluid-1{
  width: 100%;
  position: absolute;
}

.heading-2{
  height: 50%;
  text-align: center;

  position: relative;
  padding-top: 11%;
  padding-bottom: 15%;
  font-family: 'Yatra One', cursive;

}



.container-fluid {
  padding: 5% 15%;
}

#testimonials {
  text-align: center;
  background-color: #000000;
  color: #fff;
  padding-bottom: 2%;
}

.carousel-item {}

.testimonial-text {

  line-height: 1.5;
  padding-top: 15%;
  font-family: 'Yatra One', cursive;
}



.img-fluid-a{

  padding-top: 5%;
  object-fit: cover;
  object-position: center;
  /* overflow: hidden; */
  height:100vh;
  width: 100%;
}

.img-fluid-b{
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100vh;
  padding-top: 5%;
}
.img-fluid-c{
  width: 100%;
  height: 120vh;
  object-fit: cover;
  object-position: center;
  padding-top: 5%;
}



/*
#carouselHero .carousel-item img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  height:100vh;
}

#carouselHero .carousel-item:before {
  content: "";
  background-image:
    linear-gradient(
      to bottom,
      transparent, rgba(0,0,0,0.5)
    );
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
} */


.img-fluid-3{
  height: 100%;
}

.contact-us{
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  background-color: #000000;
color: white;
}
